header {
	background: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
header .logo {
	display: flex;
}
header .logo a {
	width: 200px;
	margin: 10px 0 10px 20px;
}
header .logo a img {
	width: 100%;
}
header .menu ul {
	display: flex;
	margin: 0 20px 0 0;
	padding: 0;
}
header .menu ul li {
	list-style: none;
	margin: 0 0 0 20px;
	padding: 0;
}
header .menu ul li a {
	text-transform: uppercase;
	text-decoration: none;
	color: black;
	letter-spacing: 0.05em;
	font-size: 1.2em;
	font-weight: 500;
	border-bottom: 4px solid transparent;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition:    all 0.2s ease-out;
	-o-transition:      all 0.2s ease-out;
	transition:         all 0.2s ease-out;
}
header .menu ul li a.tamoactivo ,
header .menu ul li a:hover {
	border-bottom: 4px solid black;
}