section#cajitas {
	display: flex;
	justify-content: space-evenly;
	position: relative;
	top: -50px;
}
section#cajitas > .caja {
	background: white;
	width: 16%;
	padding: 10px 20px;
	box-shadow: 4px 6px 35px -22px black;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}
section#cajitas > .caja:hover {
	animation: 0.4s arribaabajo ease-in-out;
}
section#cajitas > .caja > img {
	width: 80px;
}
section#cajitas > .caja > h3 {
	text-align: center;
	margin-bottom: 30px;
}
section#cajitas > .caja > ul {
	margin: 0;
	padding: 0;
}
section#cajitas > .caja > ul > li {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
	margin-bottom: 10px;
}

@keyframes arribaabajo {
	0% { top: 0; }
	50% { top: 10px; }
	100% { top: 0; }
}